header{
    background-color:rgb(7, 54, 66);
    color:rgb(181,137,  0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 150%;
    margin: 10px;
    padding-top: 0px;
}

nav{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    padding: 3px;
    word-spacing: 70px;
    background-color: rgb(56, 47, 60);
    font-weight: bold;
}

div.flex-container{
    align-items: center;

}

main{
    background-color: rgb(50, 43, 54);
    color: rgb(131,148,150);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:justify;
}

section{
    border: 3px;
    border-style: inset;
    border-color: rgb(42,161,152);
    text-align: center;
    background-color: rgb(56, 47, 60);
}

p{
    color: antiquewhite;
    text-align: justify;
    padding: 1%;
}

p::first-letter{
    color: rgb(181,137,  0);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3,h2{
    color:rgb(88,110,117);
    padding-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    
}
body{
    background-color: rgb(50, 43, 54);
    text-align: justify;
    max-width: 800px;
    padding-left: 10px;
}

ul.related{
    list-style-type: square;
    color: rgb(133, 153, 0);
    margin: 0%;
    padding: 0%;
}

a.link{
    color: rgb(220, 50, 47);
    font-size: 14px;
    padding-right: 5px;
    padding-left: 15px;
}
a.link:hover{
    color:rgb(38,139,210) ;
}

aside{
    color: rgb(133,153,0);
    float: right;
    
}

a:link{
    text-decoration: none;
    color: rgb(211, 54,130);
}

a:hover{
    color: rgb(203, 75, 22);
}

.container{
    width: 60%;
    text-align: justify;
    height: auto;
    border: 10px;
    min-width: 300px; 
    float: left;
}

h5{
    font-weight: lighter;
    text-align: center;
    font-size: 15px;
    color:rgb(131,148,150);
    background-color:rgb(7, 54, 66); 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.footer{
    float: left;    
    margin: 10px;
    padding-left: 20px;
    
}




<!-------------
<style>
:root {
  --base-font-color: rgb(131,148,150);
  --secondary-font-color: rgb(88,110,117);
  --emphasised-font: rgb(147,161,161);
  --c-background-color: rgb(50, 43, 54);
  --c-background-highlights: rgb(7, 54, 66);
  --c-yellow: rgb(181,137,  0);
  --c-orange: rgb(203, 75, 22);
  --c-red: rgb(220, 50, 47);
  --c-magenta: rgb(211, 54,130);
  --c-violet: rgb(108,113,196);
  --c-blue: rgb(38,139,210);
  --c-cyan: rgb(42,161,152);
  --c-green: rgb(133,153,0);
  p::first-letter{
    color: rgb(25, 51, 0);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
}
<link rel="x-icon" href="../CA3-NMK/images/favicon.ico" type="image/x-icon">
link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One" rel="stylesheet" type="text/css"/>
</style>

-------------!>